{% extends 'base.html.twig' %}

{% block title %}Evenement {% endblock %}

{% block body %}
    <h1 style="background-color: #721c24"><center>Evenement</center></h1>
<section class="evenement">
    {% for evenement in evenements %}
        <evenement>
            <h2>
                {{ evenement.nom  }}
            </h2>
            <div class="content">
                {{ evenement.date | date('d/m/y') }}
                Ayant pour proprietaire : {{ evenement.categorie }}
            </div>
                <div class="content">
                    <img src="{{ asset('/image/2.jpg')|imagine_filter('echelle') }}" alt="2">
                </div>
                <div class="content">
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-primary">lire la suite</a>
                    <a href="{{ path('addLike', {'id': evenement.id}) }}" class="btn btn-primary">J'aime : {{ evenement.like}}</a>
                    <a href="{{ path('adddisLike', {'id': evenement.id}) }}" class="btn btn-primary">Je n'aime pas : {{ evenement.unlike}}</a>

                   <!-- <a href="{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-primary">Edit</a>-->
                </div>
        </evenement>



    {% endfor %}
</section>
{% endblock %}