{% extends 'base-back.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1 style="background-color: peru"><center>Evenement</center></h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ evenement.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ evenement.nom }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>NbrPersonnes</th>
            <td>{{ evenement.nbrPersonnes }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ evenement.categorie }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ evenement.description }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ evenement.image }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_back') }}"><button style="background-color: #00bbff">back to list</button></a>

    <a href="{{ path('app_evenement_back_edit', {'id': evenement.id}) }}">&emsp;&emsp;&emsp;<button>&ensp; edit &ensp;</button></a>

    {{ include('evenement/_delete_form_back.html.twig') }}
{% endblock %}
